@import '../global/variables.scss';

.contact-details {
  opacity: 0%;
  min-height: 40vh;
  width: 100%;
  @include flex-center(column);
  h3 {
    font-size: 2em;
    padding: 1rem;
    margin: 0;
  }
  #email-icon {
    color: #CC3232;
  }
  #linkedin-icon {
    color: #0077B5;
  }
}


.animate-contact {
  animation: fade-in 1s linear forwards; 
  #email-link {
    animation: link-right 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  #linkedin-link {
    animation: link-left 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
  #github-link {
    animation: link-right 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes link-left {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: none;
  }
}

@keyframes link-right {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: none;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  #contact-screen { 
    animation: none !important; 
    .contact-details {
      opacity: 100%;
    }
  }
}