@import '../global/variables.scss';

header {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  @include flex-space(row);
  background-color: var(--primary-colour);
  .scroll-link {
    text-decoration: none;
    color: black;
    font-size: 2em;
  }
}