@import './global/variables.scss';
@import './components/nav.scss';
@import './components/hero.scss';
@import './components/about-me.scss';

* {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  margin: 0;
  width: 100%;
}

main {
  margin-top: var(--nav-height);
}

.screen {
  @include flex-start(column);
  min-height: calc(100vh - var(--nav-height));
  width: 100%;
  h2 {
    font-size: 3.5em;
    font-weight: 900;
    margin: 1.5em 0 0 0 !important;
    padding: 1em;
  }
}
